@import "tailwindcss";

body,html{
    background-color: black;
}



/* Scrollbar azul simples */
::-webkit-scrollbar {
  width: 8px; /* um pouco mais larga pra compensar o recuo */
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 4px;   /* começa um pouco abaixo */
  margin-bottom: 4px; /* e termina antes do final */
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
  border: 2px solid transparent; /* cria o "recuo" visual */
  background-clip: content-box;  /* faz o border agir como espaçamento */
}
